@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto|Sedgwick+Ave');
@import url("fonts.css");
body{ font-family: 'Roboto', sans-serif;font-size:14px; color:#999; margin:0
}
h1,h2,h3{ color:#0598a2;}
a{ text-decoration:none}
header, footer, section,aside,p{ display:block}
.topnav{ background:#eee; min-height:30px; line-height:30px}
header{ min-height:150px;}
header .logo{ float:left}
header .logo img{ width:80%; height:auto}
header nav{ min-height:40px; margin-top:60px}
header nav ul,aside ul{ padding:0; margin:0; list-style:none}
header nav ul li{ float:left; position:relative}
header nav ul li a{ color:#666; text-decoration:none; padding:0 15px; display:block; line-height:40px; border-bottom:2px solid #0598a2; font-size:18px} 
header nav ul li a:hover{ border-bottom:3px solid #F30}
main{ min-height:400px}
.banner { position:relative}
.banner h2 { position:absolute; top:20%; text-align:center; display:block; width:100%; font-size:60px; font-family: 'Conv_Quaxy'; -webkit-text-stroke: 1.5px #fff}
.banner h2 span {color:#666}
.banner .tron { position:absolute; left:48%; margin:0; padding:0; list-style:none; bottom:10px}
.banner .tron li {float:left; width:12px; height:12px; border:1px solid #333; border-radius:100%; background:rgba(204,204,204,0.6); margin:0 2px}
.banner .tron li:hover {background:#099}
.banner .backward, .banner .forward { position:absolute; left:0; top:47%; border:1px solid #CCC; width:100%; }
.td-welcome { font-family:'Dancing Script'}
.td-welcome span {}
footer{ background:
#636363; min-height:400px; color:#FFF; padding-top:50px}
footer a{ display:block; color:#FFF; line-height:30px }
aside{ min-height:700px; background:#eee}
aside ul li{ min-height:30px; border-bottom:1px dashed #0598a2}
aside ul li a{ color:#666; display:block ;  padding-left:20px; line-height:30px; font-size:16px; letter-spacing:0.05em}
aside ul li a:hover{ background-color:#0598a2; color:#FFC}
