/*@import "default.css";
@import "thuvien.css";
@import "fonts.css";*/

.logo {
  height: 72px;
  font-size: 30px;
  cursor: pointer;
}

.opacity:hover {
  opacity: 0.4;
}
.color {
  color: #bbb;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(146, 212, 207); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 700;
  padding-bottom: 20px;
}
#mySidenav {
  height: 100%;
}
.editclassroom {
  text-align: center;
  margin-right: 13px;
}
.editclassroom:hover {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  background: rgb(26, 186, 197);
  transition: background 0.2s;
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2b2828;
  display: block;
  transition: 0.3s;
}
a:link {
  color: black;
}
a:link:hover {
  color: black;
}
.class-info-box {
  width: 60%;
  height: 50px;
  margin-top: 20px;
  border-radius: 7px;
  padding-left: 15px;
}

.sidenav a:hover {
  text-decoration: none;
}

#datecomment {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 12px;
  display: inline;
}
#more-comment {
  margin-left: 600px;
  padding-right: 20px;
}
.sidenav-item:hover {
  background-color: none;
  border-radius: 0px 20px 20px 0;
  transform: scale(1.15);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.nav-link {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

svg {
  width: 24px;
  height: 24px;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  transition: background 0.2s;
}

.circle :hover {
  border-radius: 50%;
  background: transparent;
  background: #bbb;
}
[class*="-icon"] {
  height: auto;
  width: 100%;
}

/*main css*/
ol,
ul {
  list-style: none;
}

.container {
  max-width: 1320px !important;
}

.cell {
  max-width: 300px;
  margin: 20px 0 20px 0;
  text-align: center;
  box-shadow: 4px 8px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.class-inf {
  /*background-image: url("https://gstatic.com/classroom/themes/img_reachout.jpg");*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #76e4cc;
  background-image: linear-gradient(315deg, #7ce6d4, #3dced8 74%);
  padding-bottom: 15px;
}

.class-inf:hover {
  text-decoration: none;
}
.sinhvien-title {
  padding-top: 5px;
  padding-bottom: 10px;
}
.class-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 100px;
}
.class-teacher {
  color: black;
}
.class-teacher:hover {
  text-decoration: white;
}

.class-main {
  min-height: 140px;
}

.class-footer {
  border-top: 1px solid #bbb;
  max-height: 57px;
}

/*add class*/

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.full-height {
  height: 100%;
  width: 100%;
}

/* Full-width input fields */
.form-login-container input[type="text"],
.form-login-container input[type="password"],
.form-signUp-container input[type="text"],
.form-signUp-container input[type="password"],
.form-signUp-container input[type="date"],
.form-change-pass-container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-login-container input[type="text"]:focus,
input[type="password"]:focus,
.form-signUp-container input[type="text"]:focus,
.form-signUp-container input[type="password"]:focus,
.form-signUp-container input[type="date"]:focus,
.form-change-pass-container input[type="text"]:focus {
  background-color: #d5f3fc;
}
/*lable for login-form and signUp*/
.form-login-container label,
.form-signUp-container label,
.form-change-pass-container label {
  font-weight: bold;
  padding: 2px;
}
/*icon for login-form*/
.form-login-container i {
  margin-right: 4px;
}
/*set color for a tag login form*/
.form-login-container a {
  color: dodgerblue;
}
/*set style error p */
.error-notification {
  color: #d8000c;
  background-color: #ffd6d6;
  height: 50px;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
}

.form-change-pass-container i {
  margin-right: 4px;
}
/* Set a style for the submit/login button  and signUp button*/
.btn-login,
.btn-signUp,
.btn-change-password {
  box-sizing: border-box;
  background-color: #0071bb;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-color: #fff;
}

/* Add some hover effects to buttons */
.form-login-container .btn-login:hover,
.form-signUp-container .btn-signUp:hover {
  background-color: #045891;
}

/*Set style for login and signUp form */
.form-signUp-container,
.form-login-container,
.form-change-pass-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 500px;
  box-shadow: 9px 9px 5px #cbc8c8;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.form-container {
  display: block;
  text-align: center;
  margin: 10px;
}
/*Set color-background body login */
.login-body,
.signUp-body,
.change-pass-body {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

/*css giao dien giao vien*/
.banner {
  background-color: #db9841;
  background-image: linear-gradient(315deg, #3ee0a2 0%, #7ee8fa 80%);
  height: 225px;
  font-size: 40px;
  border-radius: 15px;
  margin-top: 30px;
}

.banner2 {
  margin-top: 20px;
  height: 300px;
  font-size: 40px;
  border-radius: 15px;
}
.banner3 {
  margin-top: 10px;
  height: auto;
  font-size: 40px;
  border-radius: 15px;
  border: 2px solid rgb(187, 183, 183);
}
.cell {
  margin-right: 10px;
}
#commute1 {
  height: 150px;
  border: 2px solid rgb(187, 183, 183);
  font-size: 20px;
  padding: 15px;
}
#commute2 {
  height: 75px;
  padding: 10px 20px 20px 20px;
  font-size: 24px;
  color: rgb(168, 158, 158);
}
#commute3 {
  margin-top: 30px;
  height: 200px;
  padding: 10px 20px 20px 20px;
  font-size: 26px;
}

.classwork {
  margin-top: 10px;
  height: 300px;
  font-size: 40px;
  border-radius: 15px;
  border: 1px solid rgb(170, 167, 167);
  background-color: white;
}
#announce {
  padding-top: 9px;
  font-size: 18px;
  outline: none;
}
#announce:focus {
  outline: none;
}
#viewall {
  padding-top: 20px;
  text-align: right;
  color: orange;
}
#cntt {
  font-size: 20px;
  padding: 10px;
}
.head {
  color: white;
}
.assign {
  margin: auto;
}
#assignment {
  margin: auto;
  padding: 5px;
  font-size: 16px;
  text-align: left;
  font-style: italic;
}
label {
  cursor: pointer;
}

#creatework {
  margin-top: 30px;
  height: 45px;
  width: 125px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #26e7bd;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(24, 226, 192, 0.2);
  border: none;
  outline: none;
}
#creatework:hover {
  margin-top: 30px;
  height: 45px;
  width: 125px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #74e9d0;
}

#assignworktoyourclass {
  color: #26e7bd;
}
.teacher {
  margin-top: 50px;
  margin-left: 150px;
  color: #0bbb95;
}
#teacheradd {
  margin-left: 500px;
}
#student {
  margin-top: 60px;
}

.studentlist {
  color: black;
  margin-left: 10px;
}

#buttonteacher {
  color: #0bbb95;
  font-size: 0.6em;
}

.formtext {
  margin-left: 20px;
  margin-top: 20px;
}
.input {
  border: none;
}
#inputannounce {
  width: 40%;
  height: 80px;
  border: 1px solid black;
}
#announce-select {
  border: 2px solid black;
  border-radius: 5px;
}
.input:focus {
  border-color: white;
}
.btnform {
  color: black;
  margin-right: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-bottom: 10px;
  font-weight: 500;
}
.btnsform {
  text-align: left;
  margin-left: 25px;
}
.btnform:hover {
  color: black;
  margin-right: 20px;
  background-color: rgb(238, 231, 231);
  border: none;
  border-radius: 5px;
}
.teacherform {
  display: none;
  margin: auto;
  margin-top: 100px;
  border: 1px solid black;
  height: 240px;
  width: 300px;
  border-radius: 10px;
  top: -20%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#showinvite {
  display: none;
}
#buttonteacher:hover {
  color: #0b8b70;
  cursor: pointer;
}

.assignment:hover {
  cursor: pointer;
}

#showinvite:checked ~ .teacherform {
  display: block;
  align-items: center;
}
#showinvite:checked ~ .container-sm {
  filter: blur(10px);
}

#showassignment {
  display: none;
}

.createassign {
  display: none;
  margin: auto;
  margin-top: 100px;
  border: 1px solid rgb(165, 162, 162);
  height: auto;
  width: auto;
  border-radius: 10px;
  top: -37%;
  left: 0%;
  background-color: white;
  font-size: x-large;
  padding-left: 50px;
}
#file-assignment {
  margin-left: 50px;
}
#title {
  width: 70%;
  margin-left: 15px;
}
#titleicon {
  font-size: 1.5em;
  color: #919999;
}
#instruction {
  width: 70%;
  height: 70px;
  text-align: left;
  margin-left: 15px;
}
#instructionicon {
  font-size: 1.5em;
  color: #919999;
}

/*table nho cho them assignment*/
#showassignment:checked ~ .createassign {
  display: block;
}
#showassignment:checked ~ .tableassignment {
  display: none;
}
#showassignment:checked ~ .classworkindex {
  display: none;
}

.tableassignment {
  display: none;
  border: none;
  width: 300px;
  top: -17%;
  left: 31%;
  transform: translate(-50%, -50%);
}

#showcreate:checked ~ .tableassignment {
  display: block;

  width: 150px;
}
#search {
  background-image: linear-gradient(315deg, #7dee9a, #b4f0a8 74%);
  width: 70%;
  border-color: #0fecbc;
  outline: none;
  border-radius: 7px;
}

/*table nho cho them assignment*/

#classcode {
  width: 20%;
  margin-left: 0%;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 2px;
}

.addclass:hover {
  background-color: rgb(7, 106, 119);
}
.formcode {
  margin-left: 12%;
  margin-top: 3%;
  padding-left: 15%;
}
#announceinf {
  width: 80%;
  border: none;
}
.formcreate {
  margin-left: 12%;
  margin-top: -3%;
}
.cell:hover {
  box-shadow: 4px 8px 15px 2px rgba(136, 134, 134, 0.8);
  cursor: pointer;
}

/*table nho cho them assignment*/
.tableassignment tr {
  border: none;
  background-color: white;
  border-radius: 10px;
}

/* Them chuc nang add anouncement*/

#showaddannouncement {
  display: none;
}
.line {
  width: 80%;
  text-align: center;
  margin-left: 0;
}
#datestream {
  font-size: 13px;
  margin-left: 33px;
  margin-top: -20px;
  line-height: 0px;
}
.fa-window-maximize {
  margin-right: 10px;
}
#error-message-stream {
  width: 300px;
}
#showaddannouncement:checked ~ .content {
  filter: blur(30px);
}
#showaddannouncement:checked ~ .tableshowannouncement {
  display: block;
}

/*----------------------------------*/
.assignment:hover {
  background-color: rgb(216, 210, 210);
}
#showcreate {
  display: none;
}
#showcreate:hover {
  cursor: pointer;
}
.table1 td {
  padding: 5px;
}
.table1 .assignment-stream {
  border-radius: 5px;
}
.table-stream .assignment-stream:hover {
  background-color: #2b2828;
}

.addclass:hover {
  background-color: rgb(7, 106, 119);
}
#assignmenclasswork {
  font-weight: 700;
  font-size: 55px;
  color: #5fcccc;
}
.btnsform-assign {
  margin-left: 75px;
  padding-bottom: 20px;
}

#buttonstudent {
  font-size: 20px;
  color: #2ce6bd;
}
#buttonstudent:hover {
  color: #27a88c;
}

.navbar {
  background-image: linear-gradient(315deg, #69d68a 0%, #70e4e4 90%);
}
.addnew {
  width: 100%;
}

/*sua index giao vien*/
#showeditclassroom {
  display: none;
}

.tableeditclassroom {
  display: none;
  border: none;
  width: 80%;
  height: 80%;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}

#showeditclassroom:checked ~ .index {
  filter: blur(50px);
}
#showeditclassroom:checked ~ .tableeditclassroom {
  display: block;
}
/*-------------------------------*/
/*table nho chon them lop hoc hoac vao lop hoc*/

#showaddjoinclassroom {
  display: none;
}

.table-add-join-class {
  display: none;
  border: none;
  width: 80%;
  height: 80%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}

.table-add-join-class-sinhvien {
  display: none;
  border: none;
  width: 80%;
  height: 80%;
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}

.editclassroom {
  margin-bottom: 13px;
  margin-top: 8px;
}

.avatar {
  margin-right: 8px;
}
.space {
  padding-bottom: 10px;
}
.class-title {
  color: black;
}
.class-title :hover {
  text-decoration: none;
}
#showaddjoinclassroom:checked ~ .table-add-join-class {
  display: block;
}
#showaddjoinclassroomsinhvien {
  display: none;
}

#showaddjoinclassroomsinhvien:checked ~ .table-add-join-class-sinhvien {
  display: block;
}

#showaddjoinclassroom:checked ~ .index {
  filter: blur(30px);
}
#showaddjoinclassroomsinhvien:checked ~ .index {
  filter: blur(30px);
}
/*----------------------------------------------*/
/*table nho chon them lop hoc hoac vao lop hoc*/

#showhiddenstreamcontent {
  display: none;
}

.classanounce {
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.2);
}

.tableshowannouncement {
  display: none;
  border: none;
  width: 80;
  height: 80%;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}
#showhiddenstreamcontent:checked ~ .tableshowannouncement {
  display: block;
}
#showhiddenstreamcontent:checked ~ .commute {
  display: block;
}
#showhiddenstreamcontent:checked ~ .hiddenstreamcontent {
  display: block;
}
#showhiddenstreamcontent:checked ~ .content {
  filter: blur(30px);
}
#more {
  margin-left: 670px;
  color: white;
}

/*---------Stream edit delete-------------*/
#show-stream-edit-delete {
  display: none;
}
.assignment-stream {
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
}
.assignment-stream:hover {
  background-color: rgb(180, 177, 177);
}
.stream-edit-delete {
  display: none;
  margin-top: -150px;
  margin-left: 1100px;
  width: 100px;
  background-color: white;
}
#show-stream-edit-delete:checked ~ .stream-edit-delete {
  display: block;
}
.table-stream {
  border-radius: 20px;
}
/*----------------------------------------------*/
/*table phan quyen*/

#showphanquyen {
  display: none;
}
#stream-title {
  border-radius: 3px;
  border: 2px solid black;
}
.tablephanquyen {
  display: none;
  display: none;
  border: none;
  width: 80%;
  height: 80%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}

#showphanquyen:checked ~ .tablephanquyen {
  display: block;
}
#showphanquyen:checked ~ .commute {
  display: none;
}
#showphanquyen:checked ~ .index {
  filter: blur(30px);
}
.btn {
  margin-right: 12px;
}
.create-form {
  top: 10%;
}
/*----------------------------------------------*/
/*table view sinh vien*/
table {
  width: 100%;
}
/*----------------------------------------------*/
/*delete-user css*/
.box-content {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}
#create_user form {
  width: 200px;
  margin: 40px auto;
}
#create_user form input {
  margin: 5px 0;
}
/*----------------------------------------------*/

.class-inform-textarea {
  border-radius: 5px;
  border: 2px solid black;
  height: 80px;
  width: 300px;
}
.hiddenstreamcontent {
  display: block;
  margin-top: 20px;
  height: 74px;
  width: auto;
  box-sizing: auto;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 15px;
  font-size: 24px;
  overflow: auto;
  display: inline-table;
}
.assignment-classwork {
  display: block;
  margin-top: 20px;
  height: 74px;
  width: auto;
  box-sizing: auto;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 15px;
  font-size: 24px;
  overflow: auto;
  display: inline-table;
}

.commentcontent {
  display: block;
  margin-top: 20px;
  height: 74px;
  width: auto;
  box-sizing: auto;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  overflow: auto;
  display: inline-table;
}

#hiddenstreamcontent-content {
  margin-top: 8px;
  margin-left: 25px;
  vertical-align: middle;
  color: rgb(93, 94, 93);
}
#assignment-classwork-content {
  margin-top: 8px;
  margin-left: 25px;
  vertical-align: middle;
  color: rgb(93, 94, 93);
}

#classcomment {
  border-radius: 10px;
  width: 65%;
  margin-bottom: 30px;
  margin-left: 20px;
  outline: none;
}
#tengiaovien {
  font-size: 28px;
  margin-left: 8px;
}
#tenlophoc {
  margin-left: 8px;
  display: inline;
}
.anouncementnav {
  margin-left: 15px;
}
.tenlopannounce:hover {
  text-decoration: underline;
}
#tenlopannounce {
  font-size: larger;
}
#tenannounce {
  font-size: 40px;
  color: #515252;
}
#more-announce {
  font-size: 24px;
  display: inline;
  margin-left: 34px;
}
#dateannounce {
  margin-top: -20px;
  margin-left: 66px;
  color: rgb(153, 152, 152);
}
#teachercontent {
  padding: 30px;
  margin-left: 40px;
  max-width: 650px;
  word-wrap: break-word;
}
/*----------------Show announce edit delete------------------*/
#show-announce-edit-delete {
  display: none;
}

.table-announce-edit-delete {
  display: none;
  width: 100px;
  margin-top: -420px;
  margin-left: 940px;
}

#show-announce-edit-delete:checked ~ .table-announce-edit-delete {
  display: block;
}
#noti-stream {
  width: 300px;
}
.upload-announce {
  margin-top: 30px;
  margin-left: 0px;
  border: 3px solid rgb(182, 177, 177);
  text-align: center;
  display: inline-table;
  padding-right: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

/* Cac nut dropdown button */

.dropdownannounce {
  font-size: 10px;
  float: right;
  display: inline;
  margin-top: -60px;
  margin-right: 60px;
}
#dropdownMenuButton-announcement {
  background-color: white;
  color: rgb(82, 80, 80);
  border: none;
  outline: none;
}

.dropdown-comment {
  float: right;
  display: inline;
  margin-top: 0px;
  margin-right: -30px;
}
#commentbuttonsend {
  border: none;
}
/* -----------------------------------------------------------*/

body,
html {
  height: 100%;
  margin: 0;
}
